.button {
  border-radius: $border-radius;
  background-color: $blue-color;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 14px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($blue-color, 20);
  }

  &:disabled {
    background-color: $light-grey-color;
  }

  &.small {
    padding: 5px 17px;
    background-color: $blue-color;
    text-transform: none;
    font-weight: normal;
    border-radius: 2px;

    &:hover {
      background-color: darken($blue-color, 20);
    }
  }

  &.link {
    background-color: #fff;
    color: $blue-darker-color;
    padding: 0;
    text-transform: none;
    text-decoration: underline;
    font-weight: normal;
  }

  &.color_danger {
    color: $red-color;
  }
}
