.input {
  &__item {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    color: $text-color;
    padding: 14px;
    height: 42px;
    outline: none;
    display: block;
  }

  &__error {
    color: red;
    padding: 2px 0;
  }
}
