.select {
  position: relative;

  &__input {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    color: $text-color;
    padding: 14px 35px 14px 14px;
    position: relative;
    height: 42px;
    cursor: pointer;

    &.active::after {
      transform: rotate(180deg);
    }

    &::after {
      content: '';
      background-image: url('../../assets/carret.svg');
      width: 10px;
      height: 6px;
      display: block;
      position: absolute;
      top: 18px;
      right: 14px;
    }
  }

  &__options {
    display: none;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    color: $text-color;
    margin-top: 3px;
    top: 3px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);

    &.active {
      display: block;
    }

    &__option {
      cursor: pointer;
      padding: 14px;
      border-bottom: 1px solid $border-color;

      &.current {
        color: $text-dark-color;
        font-weight: bold;
      }
    }
  }
}
