.table_wrap {
  @media screen and (max-width: $mobile) {
    overflow-x: auto;
  }

  .table_header {
    margin-bottom: 12px;
    display: flex;

    .right {
      display: flex;
      align-items: center;
      margin-left: auto;

      .close {
        margin-left: 25px;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    td {
      background-color: $dark-blue-color;
      padding: 8px 12px;
      color: #ffffff80;
    }
  }

  tbody {
    border: 1px solid #ebebeb;

    td {
      padding: 8px 12px;
      color: $text-color;
      border-bottom: 1px solid #ebebeb;

      @media screen and (max-width: $mobile) {
        padding: 6px;
      }
    }
    td:not(:last-child) {
      border-right: 1px solid #ebebeb;
    }
    tr:last-child td {
      border-bottom: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    button:first-child {
      margin-right: 10px;
    }
  }
}
