.table_form {
  width: 280px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding: 20px;
  border: 1px solid $border-color;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
