@import './fonts';
@import './variables';
@import './reset';
@import './helpers';
@import './components/button.scss';
@import './components/input.scss';
@import './components/select.scss';
@import './components/tableForm.scss';
@import './components/table.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// for demo

.container {
  margin: 0 auto;
  max-width: 1100px;

  @media screen and (max-width: $mobile) {
    padding: 0 10px;
  }
}

.table_row {
  margin: 20px 0;

  .table_wrap {
    max-width: 600px;
    margin-bottom: 30px;

    @media screen and (max-width: $mobile) {
      max-width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

hr {
  border: none;
  height: 10px;
  margin: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background: white;
  border-radius: 4px;
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
