$text-color: #868a8d;
$text-dark-color: #212229;
$border-color: #e6ecef;
$light-grey-color: #c2cbd1;
$dark-blue-color: #0a508b;
$blue-color: #1193ff;
$blue-darker-color: #057ae3;
$red-color: #b0263d;

$border-radius: 4px;

// breakpoints
$mobile: 480px;
